<html>
	<head>
		<title>Presupuestar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
	</head>

	<body>
		<div>
      
			<div class="header">
				<a href="https://github.com/cristianmiranda">Github - @cristianmiranda</a>
			</div>
			
      <img src="/images/fiat_logo.png" class="logo"/>
      
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%#= debug(params) if !Rails.env.development? %>
      
      <div class="main-form">
        <%= form_for @presupuesto, multipart: true, url: {action: "create"}, :html => {:class => "form-horizontal center"} do |f| %>
          <hr/>
          <div class="row">
            <div class="col-md-6 form-group">
              <%-# Nombre y Apellido -%>
              <%= f.label :name, "Cliente:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Domicilio -%>
              <%= f.label :address, "Domicilio:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :address, class: "form-control" %>
              </div>
            </div>  
            <div class="col-md-6 form-group">
              <%-# Localidad -%>
              <%= f.label :city, "Localidad:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :city, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Telefono -%>
              <%= f.label :phone, "Telefono:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Auto -%>
              <%= f.label :car, "Vehículo:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :car, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Patente -%>
              <%= f.label :patente, "Patente:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :patente, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Chasis -%>
              <%= f.label :chasis, "Chasis:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :chasis, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Motor -%>
              <%= f.label :motor, "Motor:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :motor, class: "form-control" %>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-6 form-group">
              <%-# Repuestos -%>
              <%= f.label :file, "Repuestos:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.file_field :file, class: "btn btn-info" %>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-6 form-group">
              <%-# Chapa -%>
              <%= f.label :chapa, "Chapa:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :chapa, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Pintura -%>
              <%= f.label :pintura, "Pintura:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :pintura, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Mecanica -%>
              <%= f.label :mecanica, "Mecanica:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :mecanica, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Electricidad -%>
              <%= f.label :electricidad, "Electricidad:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :electricidad, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Carroceria -%>
              <%= f.label :carroceria, "Carroceria:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :carroceria, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <%-# Cargos de A/A -%>
              <%= f.label :carga_aa, "Carga de A/A:", class: "col-md-4 control-label" %>
              <div class="col-md-8">
                <%= f.text_field :carga_aa, class: "form-control" %>
              </div>
            </div>
          </div>
          <hr/>
          <div>
            <%= f.submit "Presupuestar", class: "btn btn-default btn-primary right", data: { disable_with: false } %>
          </div>
        <% end %>
      </div>
		</div>
    
	</body>
</html>